<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-icon class="icon" aria-hidden="false" aria-label="Info">build</mat-icon>
      <mat-card-title>About</mat-card-title>
      <mat-card-subtitle>Projects</mat-card-subtitle>
    </mat-card-header>
    <hr>
  
    <div>
    <mat-card class="project-card" appearance="outlined">
      <!-- Displaying project cards as before -->
      <ng-container *ngFor="let project of projectList.slice(0, 3)">
        <mat-card class="single-project-card" (click)="navigateToProject(project.id)">
          <mat-card-header>
            <mat-card-title>{{ project.title }}</mat-card-title>
            <mat-card-subtitle>{{ project.maintag }}</mat-card-subtitle>
          </mat-card-header>
          <img class="project-card-image" [src]="project.image" alt="Project Image">
          <mat-card-content>
            <p>{{ project.shortdescription }}</p>
            <mat-chip-list>
              <mat-chip *ngFor="let tag of project.tags" [selectable]="false">
                {{ tag }}
              </mat-chip>
            </mat-chip-list>
            <br>
            <a href="{{ project.link }}" *ngIf="project.link!=''">Link</a>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </mat-card>
    </div>
    <br>
    <div>
      <button class="btn btn-primary" (click)="randomizeProjects()">Randomize</button>
    </div>
    <br>
  
    <div class="project-search">
    </div>

  
    <!-- Table section -->
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>See more</mat-panel-title>
        </mat-expansion-panel-header>

        <h4>Sort projects</h4>
        <mat-form-field>
          <mat-label>Choose an option</mat-label>
          <mat-select [(ngModel)]="sortByOption" (ngModelChange)="sortProjects()">
            <mat-option value="option0">By Id</mat-option>
            <mat-option value="option1">Newest first</mat-option>
            <mat-option value="option2">Oldest first</mat-option>
          </mat-select>
        </mat-form-field>
        <table mat-table [dataSource]="projectList" class="projects-table">

          <!-- Define your columns -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let project; let i = index"> {{ project.id }} </td>
            <!-- Use 'let i = index' to get the row index -->
          </ng-container>
          
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let project"> {{ project.title }} </td>
          </ng-container>
          
          <ng-container matColumnDef="latestUpdate">
            <th mat-header-cell *matHeaderCellDef> Latest Update </th>
            <td mat-cell *matCellDef="let project"> {{ project.latestUpdate | date: 'yyyy/MM'}} </td>
          </ng-container>
          
          <!-- Header and rows -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <!-- Alternate row color -->
          <tr mat-row *matRowDef="let project; columns: displayedColumns; let i = index" 
              (click)="navigateToProject(project.id)"
              [ngClass]="{'odd-row': isOdd(i)}"></tr>
              <!-- Use 'let i = index' to get the row index -->
        </table>
        
        
          
  
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
  