<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
      <mat-icon class="icon" aria-hidden="false" aria-label="Info">contact_mail</mat-icon>
      <mat-card-title>Contact me</mat-card-title>
      <mat-card-subtitle>Through social media, email or right here</mat-card-subtitle>
  </mat-card-header>
  <hr>
  <div class="main-image">
      <mat-card-content>
          <p>{{email}}</p>
          <mat-chip-list>
              <ng-container *ngTemplateOutlet="chipTemplate; context: {href: 'https://github.com/Titusz1928', imgSrc: 'assets/logos/github.png', altText: 'Github', chipText: 'Github'}"></ng-container>
              <ng-container *ngTemplateOutlet="chipTemplate; context: {href: 'https://www.linkedin.com/in/titusz-boros-970a9725a/', imgSrc: 'assets/logos/linked.png', altText: 'LinkedIn', chipText: 'LinkedIn'}"></ng-container>
          </mat-chip-list>

          <ng-template #chipTemplate let-href="href" let-imgSrc="imgSrc" let-altText="altText" let-chipText="chipText">
              <a [href]="href" target="_blank">
                  <mat-chip>
                      <img matChipAvatar [src]="imgSrc" [alt]="altText" />
                      {{ chipText }}
                  </mat-chip>
              </a>
          </ng-template>
          <hr>
          <form [formGroup]="contactForm" name="contact" netlify>
            <!-- {{contactForm.value| json}}
            {{contactForm.invalid}} -->
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput name="email" formControlName="email" type="email" required>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
              <mat-label>Leave a comment</mat-label>
              <textarea matInput name="comment" formControlName="comment"  placeholder="..." required></textarea>
            </mat-form-field>
            <p>
              <button class="btn btn-primary" type="submit" [disabled]="contactForm.invalid" mat-stroked-button (click)="openSnackBar()" aria-label="Message sent">Send</button>
            </p>
          </form>
      </mat-card-content>
  </div>
</mat-card>
