<div>
  <mat-icon>school</mat-icon>
</div>
<hr>
<div class="example-action-buttons">
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> High school </mat-panel-title>
      <mat-panel-description>
        2017-2021
      </mat-panel-description>
    </mat-expansion-panel-header>
  
    <!-- Content that will be displayed when the panel is expanded -->
      <mat-label>Liceul Teoretic Bartok Bela</mat-label>
      <br>
      <mat-label><a href="http://www.bartok.ro/">http://www.bartok.ro/</a></mat-label>
    
  
  </mat-expansion-panel>
</mat-accordion>
</div>

<div class="example-action-buttons">
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> University </mat-panel-title>
      <mat-panel-description>
        2021-
      </mat-panel-description>
    </mat-expansion-panel-header>
  
    <!-- Content that will be displayed when the panel is expanded -->
    
      <mat-label>Universitatea Politechnica Timisoara, Facultatea de Automatica si Calculatorare</mat-label>
      <br>
      <mat-label><a href="https://ac.upt.ro/">https://ac.upt.ro/</a></mat-label>
  
  </mat-expansion-panel>
</mat-accordion>
</div>

<div class="example-action-buttons">
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Internship </mat-panel-title>
      <mat-panel-description>
        2024
      </mat-panel-description>
    </mat-expansion-panel-header>
  
    <!-- Content that will be displayed when the panel is expanded -->
    
      <mat-label>Savnet, CISCO CCNA Cyber Security</mat-label>
      <br>
      <mat-label><a href="https://savnet.ro/">https://savnet.ro/</a></mat-label>
  
  </mat-expansion-panel>
</mat-accordion>
</div>
