<nav class="navbar">
    <div class="navbar-logo-title">
      <a href="#" class="navbar-logo">
        <img src="assets/logo.png" alt="Logo" class="logo">
      </a>
      <h1 class="title">Boros Titusz</h1>
    </div>
    <ul class="navbar-links">
      <li><a href="/home">Home</a></li>
      <li><a (click)="scrollToProjectsComponent()">Projects</a></li>
      <li><a (click)="scrollToCVComponent()">CV</a></li>
      <li><a (click)="scrollToContactComponent()">Contact</a></li>
    </ul>
  </nav>
  