//@import '~/bootstrap/dist/css/bootstrap.min.css'

.light-mode {
  /* Define your light mode styles */
  background-color: #ffffff;
  color: #333333;
}

.dark-mode {
  /* Define your dark mode styles */
  background-color: #333333;
  color: #ffffff;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
