.example-card {
  max-width: 1200px;
  margin: 0 auto;
  border: 5px solid rgba(133, 130, 130, 0.9);
  margin-bottom: 20px;
}

.custom-card-header {
  display: flex;
  flex-direction: row; /* Ensure items are laid out in a row */
  align-items: center; /* Align items vertically in the center */
}

.custom-card-header mat-icon {
  margin-right: 40px; /* Adjust spacing between icon and text */
}

.mat-card-title {
  font-size: 25px;
}

.mat-card-subtitle {
  font-size: 20px;
}

.header-content {
  margin-left: 10px;
}

.example-card mat-card-header mat-icon.icon {
  font-size: 30px;
  margin-left: auto; /* Push the icon to the right */
  margin-right: 10px; /* Add a small margin between icon and text */
}

.main-image {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content horizontally */
  padding: 20px; /* Adds padding around the content */
  border: 10px solid rgba(63, 62, 62, 0.9); /* Adds a thick border */
  cursor: pointer; /* Indicates the area is clickable */
}

.main-image img {
  max-width: 50%; /* Adjust image width as needed */
  height: auto; /* Maintains aspect ratio */
}

.mat-card-content {
  width: 45%; /* Adjust content width as needed */
  text-align: center; /* Center the text inside the content */
}

.download-help {
  margin: 0 auto;
  font-size: 18px;
}
